Libspf2 can't seem to handle 'extreme' SPF records

It seems there is a '64 limit' on the DNS queries that libspf2 performs, which is not sufficient in extreme cases, for example in the domain 'delta.nl'. Even though this SPF record is absolutely extreme, it still seems within the limits of section [4.6.4](https://datatracker.ietf.org/doc/html/rfc7208#section-4.6.4) or section 11.1 of RFC7208.

Is this something to fix?

(**disclaimer**: _at the time of writing the SPF record of 'delta.nl' was indeed very large, but that may have change meanwhile_)

Accidentally made here, should have been under libspf2.

Closing.
